# Ignore Python bytecode caches (all repo)
__pycache__/
**/__pycache__/

# Ignore images and generated outputs in the existing-pretrained folder
existing-pretrained/images/
existing-pretrained/*.png
existing-pretrained/*.jpg
existing-pretrained/*.jpeg
# Ignore dataset split folders (entire directories)
b-vae/data/wikiart_split/
b-vae/data/coco_split/

#ignore .ipycache files
**/.ipynb_checkpoints/
*.ipynb

#Ignore env files
ccds-files/py-output/
ccds-files/test_results/
ccds-files/logs/*.err
ccds-files/logs/*.out

#model checkpoints
b-vae/model/*
# Keep any local envs or other common ignores (optional)
.env
.vscode/