# Ignore Python bytecode caches (all repo)
__pycache__/
**/__pycache__/

# Ignore images and generated outputs in the existing-pretrained folder
existing-pretrained/images/
existing-pretrained/*.png
existing-pretrained/*.jpg
existing-pretrained/*.jpeg
# Ignore dataset split folders (entire directories)


#ignore .ipycache files
**/.ipynb_checkpoints/
*.ipynb

#Ignore env files
ccds-files/py-output/
ccds-files/test_results/
ccds-files/logs/*.err
ccds-files/logs/*.out
ccds-files/logs/infer/
ccds-files/infer_output/
ccds-files/finetune_output/
ccds-files/logs
ccds-files/test_results
ccds-files/train_output/
ccds-files/scripts/wandb/
ccds-files/results/
ccds-files/wandb/
ccds-files/finetune_diff.sh
ccds-files/finetune/*

wandb/*
=*

#model checkpoints
b-vae/model/*
# Keep any local envs or other common ignores (optional)
.env
.vscode/
.gitignore
st-vae-style-decoding/models/*.idea/
